/* CSS Style Sheet for W2 */

* {
    margin: 0;
    padding: 0;
}

a:link {
color: black;
}

a:visited {
color: black;
}

a:hover {
color: red;
}

.partnerDrop {
    display: none;
    position: absolute;
    list-style: inside;
    background: blue;
    border-radius: 8px;
    border: solid 1px black;
    width: 131.6px;
    margin-left: -20px;
    /* padding: 0 20px;
    margin: 0px 35px; */
}

.socialDrop {
    display: none;
    position: absolute;
    list-style: inside;
    background: blue;
    border-radius: 8px;
    border: solid 1px black;
    width: 91.6px;
    margin-left: -20px;
    /* padding: 0 20px;
    margin: 0px 35px; */
}


.partnerHover {
    position: relative;
}

.partnerHover:hover .partnerDrop {
    display: block;
}

.partnerHover:hover .socialDrop {
    display: block;
}



body {
    margin: 20px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(18, 124, 124);
    position: relative;
}

#contact-page {
    margin: 50px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(18, 124, 124);
    text-align: center;
}

#sidebar {
    float: right;
    width: 200px;
    position: relative;
    padding: 10px 10px 10px;
    margin: 50px 10px 10px;
    border: solid 2px black;
    background: blue;
}

h1, h2, h3, h4 {
    margin: 5px;
    padding: 5px
}

#form-style {
    background: blue;
}

.contact-header {
    margin: 5px auto;
    text-align: center;
}

header nav {
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    line-height: 40px;
}

header nav ul li {
    background: blue;
    border-radius: 8px;
    border: solid 1px black;
    display: inline-block;
    padding: 0 20px;
    margin: 5px;
}

/* .navbar ul li {
    width: 150px;
    border: solid 1px black;
} */

.navbar ul li a {
    display: block;
}

.form {
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.form-input {
    text-align: left;
    padding: 20px 5px 5px 178px;
}

.main {
    background: rgb(18, 124, 124);
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.color-list {
    background-color: black;
    text-indent: 20px;
    border: solid 2px blue;
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#indigo {
    color: indigo;
}

#violet {
    color: violet
}

.footer {
    background: blue;
    margin: 20px;
    padding: 20px;
    border: solid 2px black;
}

hr {
    margin: 10px;
}

#contact-table {
    width: 280px;
    padding: 10px;
}

.contact-main {
    width: 700px;
    margin: 100px auto 20px;
    padding: 100px auto 20px;
}

table {
    text-align: left;
}

th {
    height: 50px;
    padding: 0;
    width: 300px;
}

tr {
    height: 20px;
    padding: 0 10px 0;
}

td {
    text-align: left;
}

.tableEntries {
    padding: 4px;
}

.buttonEntries {
    padding: 3px;
}

#nameInput {
    text-align: left;
    text-indent: 20px;
}

#addName {
    margin: 0 0 0 20px;
}

#tableContainer {
    margin: auto;
    display: block;
}

.last-names {
    width: 300px;
    color: red;
    font-weight: 800;
}

#lastName {
    width: 300px;
}

#firstName {
    width: 300px;
}

.delete-button {
    text-align: right;
}

#deleteIcon {
    vertical-align: middle;
    margin: 0px 0px;
}