html {
    margin: 10px;
}

.container {
    position: relative;
    width: 160px;
    height: 100px;
}

[class='interior div1'] {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 35px;
    top: 8px;
    background-color: red;
    border: solid 2px white;
} 

[class='interior div2'] {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 3px;
    background-color: orange;
    transform: rotate(-20deg);
    border: solid 2px white;
} 

[class='interior div3'] {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 28px;
    background-color: rgb(223, 119, 223);
    z-index: 3;
    border: solid 2px white;
    transform: rotate(15deg);
} 

[class='interior div4'] {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 32px;
    background-color: blue;
    z-index: 2;
    border: solid 2px white;
    transform: rotate(25deg);
} 

[class='interior div5'] {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 32px;
    bottom: 9px;
    background-color: yellow;
    z-index: 1;
    border: solid 2px white;
    transform: rotate(50deg);
}

[class='interior div5']:after {
}