/* CSS style sheet P1W3 */

html {
    margin: 10px;
}

.container {
    position: relative;
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

[class='interior div1'] {
    position: absolute;
    background-color: blue;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 10px;
    left: 10px;
} 

[class='interior div2'] {
    position: absolute;
    background-color: blue;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 10px;
    right: 10px;
} 

[class='interior div3'] {
    position: absolute;
    background-color: blue;
    width: 35px;
    height: 35px;
    display: inline-block;
    bottom: 10px;
    left: 10px;
} 

[class='interior div4'] {
    position: absolute;
    background-color: blue;
    width: 35px;
    height: 35px;
    display: inline-block;
    bottom: 10px;
    right: 10px;
} 

[class='interior div5'] {
    position: absolute;
    background-color: red;
    width: 35px;
    height: 35px;
    top: 32.5px;
    right: 32.5px;
}


