/* main.css */

.main {
    position: relative;
    text-align: center;
    margin: auto;
    top: 86px;
}

.image-slider {
    position: relative;
    background-color: white;
    width: 80vw;
    height: 40vh;
    max-width: 500px;
    max-height: 400px;
    margin: 0px auto;
}

.main-logo {
    padding: 30px 0;
}




