html {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 400px;
    height: 625px;
    padding-top: 25px;
    padding-left: 25px;

}

.interior {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
    justify-self: flex-end;
}

.interior::before {
    display: block;
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    right: 225px;
    
}

.interior::after {
    display: block;
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    right: 90px;
    top: 44px;
}

.div1 {
    background-color: rgba(255, 0, 0, .50);
}

.div1::before {
    background-color: rgba(255, 0, 0, .75);
}

.div1::after {
    background-color: rgba(255, 0, 0, 1);
}

.div2 {
    background-color: rgba(255, 165, 0, .5);
}
.div2::before {
    background-color: rgba(255, 165, 0, .75);
}
.div2::after {
    background-color: rgba(255, 165, 0, 1);
    top: 169px;
}

.div3 {
    background-color: rgba(255, 255, 0, .5);
}
.div3::before {
    background-color: rgba(255, 255, 0, .75);
}
.div3::after {
    background-color: rgba(255, 255, 0, 1);
    top: 294px;
}

.div4 {
    background-color: rgba(0, 0, 255, .5);
}
.div4::before {
    background-color: rgba(0, 0, 255, .75);
}
.div4::after {
    background-color: rgba(0, 0, 255, 1);
    top: 419px;
}

.div5 {
    background-color: rgba(240, 130, 240, .5);
}
.div5::before {
    background-color: rgba(240, 130, 240, .75);
}
.div5::after {
    background-color: rgba(240, 130, 240, 1);
    top: 544px;
}
